Qmemo.pro.user
Qmemo.pro.user.*
build-*
bin/
.vs/
debug/
release/
daily.db
qmemo.ini
.qmake.stash
Qmemo_resource.rc
Qmemo_resource.aps
today_weather.json
Qmemo.vcxproj
Qmemo.vcxproj.filters
Qmemo.vcxproj.user
